.container1 {
  position: relative;

}

.image1 {
  opacity: 1;
  display: block;

  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 25vw;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image1 {
  opacity: 0.3;
}

.container1:hover .middle1 {
  opacity: 1;
}

.container2 {
    position: relative;
  
  }
  
  .image2 {
    opacity: 1;
    display: block;
    width: 25vw;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .middle2 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container2:hover .image2 {
    opacity: 0.3;
  }
  
  .container2:hover .middle2 {
    opacity: 1;
  }

  .container3 {
    position: relative;
  
  }
  
  .image3 {
    opacity: 1;
    display: block;
    width: 25vw;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .middle3 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container3:hover .image3 {
    opacity: 0.3;
  }
  
  .container3:hover .middle3 {
    opacity: 1;
  }

  .container4 {
    position: relative;
  
  }
  
  .image4 {
    opacity: 1;
    display: block;
    width: 25vw;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .middle4 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container4:hover .image4 {
    opacity: 0.3;
  }
  
  .container4:hover .middle4 {
    opacity: 1;
  }

  .text {
    font-size: 1.5rem;
  }

  @media (max-width: 1024px) {
    .text {
        font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    .text {
        font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .text {
        font-size: 1rem;
    }
  }